@model TrashServiceWebsite.ViewModels.EmployeeViewModel

@{
    Layout = "~/Views/Shared/_EmployeeLayoutTemplate.cshtml";
}

<h1>Welcome @Model.Employee.Name</h1>
@*@Html.DropDownListFor(m => m.DayToPickUp, Model.DayToPickUp)*@
<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="SelectedDay" class="control-label">Day To Pick Up</label>
        <select asp-for="SelectedDay" class="form-control">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        <span asp-validation-for="SelectedDay" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Customers.Count; i++)
        {
            @if ((Model.SelectedDay == (Model.Customers[i].DayToPickUp)) && (Model.Employee.ZipCode == Model.Customers[i].ZipCode))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => Model.Customers[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model.Customers[i].ZipCode)
                    </td>
                    <td>
                        <a asp-action="ConfirmPickup" asp-route-id="@Model.Customers[i].Id">Confirm Pickup</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
