@model TrashServiceWebsite.ViewModels.EmployeeViewModel

@{
    Layout = "~/Views/Shared/_EmployeeLayoutTemplate.cshtml";
}

<h1>Welcome @Model.Employee.Name</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Name)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers)
{ 
   <tr>
       <td>
           @Html.DisplayFor(model => item.Name)
       </td>
       <td>
           @Html.DisplayFor(model => item.ZipCode)
       </td>
       <td> 
            <a asp-action="ConfirmPickup" asp-route-id="@item.Id">Confirm Pickup</a>
        </td>
    </tr>
}

    </tbody>
</table>
