@model TrashServiceWebsite.ViewModels.EmployeeViewModel

@{
    Layout = "~/Views/Shared/_EmployeeLayoutTemplate.cshtml";
}

<h1>Welcome @Model.Employee.Name</h1>
@Html.DropDownList("DayToPickUp", new SelectList(Enum.GetValues(typeof(DayOfWeek))), "Select Day", new { @class = "form-control"})
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Name)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Customers.Count; i++)
{
    @if (Model.Employee.DayToPickUp == Model.Customers[i].DayToPickUp)
    {
   <tr>
       <td>
           @Html.DisplayFor(model => Model.Customers[i].Name)
       </td>
       <td>
           @Html.DisplayFor(model => Model.Customers[i].ZipCode)
       </td>
       <td> 
            <a asp-action="ConfirmPickup" asp-route-id="@Model.Customers[i].Id">Confirm Pickup</a>
        </td>
    </tr>
    }
}
    </tbody>
</table>
